{% extends "layout.njk" %}
   
    {% block title%}
        <title>Biografia</title>
        <link rel="stylesheet" href="/css/style.css">
    {% endblock %}

    {% block content %}
        
        <div class="content">
            <h2><br>  <span>Douglas Silva </span></h2>
                <p>
                    &nbsp&nbsp&nbsp A paz, sou o Douglas Silva. Sou diácono da igreja assembleia de Deus resgatando vidas, em São Paulo, capital, onde atuo há cerca de 10 anos, 
                    também sou ministro do Evangelho (itinerante), formado em teologia pela ITAD (instituto teológico das assembleias de Deus). Casado e pai de dois filhos lindos.
                    Em 2019 fundei a LIONS PREGADORES, um projeto onde a missão é levar a palavra de Deus e capacitar jovens pregadores e evangelistas.
                    Recentemente criei o E-book <span>“AS RIQUEZAS DOS SALMOS”</span> que é um livro digital que cotem 20 esboços no livro de salmos, onde ajudará aos muitos pregadores do Evangelho e professores a enriquecerem seus conhecimentos na homilética, pois esse e-book tem como intuito garimpar o livro de salmos e extrair as riquezas que existe nesse tão lindo livro da Bíblia sagrada. Com temas e mensagens com embasamento Bíblico e teórico, sem dúvida, essa obra contribuirá para que o leitor tenha maior facilidade na pregação do evangelho. 
                    As suas mensagens Bíblicas e principalmente didáticas contribuirão para melhor preparação dos seus sermões. <br><br>
                    para receber o 5 esboços grátis clik no botão <span>baixar agora</span>
                 </p>
            <a href="/ebook">Baixar agora</a>
            
        </div>
        <ul class="sci">
                <li><a href="https://www.facebook.com/douglasprofitnm" target="_blank"><img src="/img/facebook.png"></a></li>
                <li><a href="https://instagram.com/douglas_silvaof?igshid=15cpd52orsqtn" target="_blank"><img src="/img/instragram.jpeg"></a></li>
                <li><a href="https://www.youtube.com/channel/UCw_uZytmAyL-W4RLglbRsbQ" target="_blank"><img src="/img/youtube.jpeg"></a></li>
                <li><a href="https://bit.ly/lions_13" target="_bland"><img src="/img/zap.jpeg"></a></li>
        </ul>
    {% endblock %} 
{% block js%}
    <script src="/js/index.js"></script>
{% endblock%}   