{% extends "layout.njk" %}
    {% block title%}
         <link rel="stylesheet" href="/css/style.css">
        <title>Home</title>
    {% endblock %}

  {% block content %}
       
       <div class="content">
            <h2><br> Eu sou  <span>Douglas Silva </span></h2>
            <p>
                    &nbsp&nbsp&nbsp autor do e-book <span>As Riqueza do salmos</span>, que é um livro digital
                    que cotem 20 esboços no livro de salmos, onde
                    ajudará aos muitos pregadores do Evangelho e
                    professores a enriquecerem seus
                    conhecimentos na homilética, pois esse e-book
                    tem como intuito garimpar o livro de salmos e
                    extrair as riquezas que existe nesse tão lindo
                    livro da Bíblia sagrada.<br>
                    &nbsp&nbsp&nbsp Disponipolizo uma parte desse E-book grátis, para conhecer o trabalho click no botão
                    <span>baixar agora</span>, para ter acesso ao conteúdo. 
            </p>
            <a href="/ebook">Baixar agora</a>
       </div>
       <ul class="sci">
           <li><a href="https://www.facebook.com/douglasprofitnm" target="_blank"><img src="/img/facebook.png"></a></li>
           <li><a href="https://instagram.com/douglas_silvaof?igshid=15cpd52orsqtn" target="_blank"><img src="/img/instragram.jpeg"></a></li>
           <li><a href="https://www.youtube.com/channel/UCw_uZytmAyL-W4RLglbRsbQ" target="_blank"><img src="/img/youtube.jpeg"></a></li>
           <li><a href="https://bit.ly/lions_13" target="_bland"><img src="/img/zap.jpeg"></a></li>
       </ul>
    {% block js%}
        <script src="/js/index.js"></script>
    {% endblock%}
{% endblock %}
